{% extends 'dashboard/base.html' %}
{% load static %}
{% block heading %}
    Dashboard
{% endblock %}

{% block path %}
    Dashboard
{% endblock %}

{% block body %}

    {% if request.user.is_staff %}
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4" style="background: linear-gradient(to top left, #cc0066 0%, #0033cc 100%);">
                <div class="card-body">Total Routes</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link">{{total_routes}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4" style="background: linear-gradient(to left, #ff66ff 0%, #33cc33 100%);">
                <div class="card-body">Total Buses</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link">{{total_buses}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4" style="background: linear-gradient(to bottom left, #cc9900 0%, #009999 100%);">
                <div class="card-body">Total Stops</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link">{{total_stops}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4" style="background: linear-gradient(to top right, #ff6600 0%, #9933ff 100%);">
                <div class="card-body">Today's Bookings</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link">{{today_bookings}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 50px">
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4" style="background: linear-gradient(to bottom right, #6699ff 0%, #ff5050 100%);">
                <div class="card-body">Total Users</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link">{{total_users}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4" style="background: linear-gradient(to top left, #ff6666 0%, #009933 100%);">
                <div class="card-body">Passengers</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link">{{passengers}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4" style="background: linear-gradient(to top, #669900 0%, #ff6600 100%);">
                <div class="card-body">Staff</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link">{{staff}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-white mb-4" style="background: linear-gradient(to top right, #0033cc 0%, #ff3399 100%);">
                <div class="card-body">Total Bookings</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link">{{total_bookings}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Total Bookings</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link" id="total_bookings">{{total_bookings}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Cancelled Bookings</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link" id="cancelled_bookings">{{cancelled_bookings}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Successfull Bookings</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link" id="successful_bookings">{{successful_bookings}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">Upcoming Bookings</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="small text-white stretched-link" id="upcoming_bookings">{{upcoming_bookings}}</p>
                    <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% if request.user.is_staff %}

{% else %}

<div class="row">
    <div class="col-xl-8 col-md-3">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-pie mr-1"></i>
            Booking Stats
        </div>
        <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
        <!-- <div class="card-footer small text-muted"></div> -->
    </div>
    </div>
</div>

{% endif %}



{% endblock %}

{% block directly_in_main %}
<!-- <script src="{% static 'dashboard/src/js/scripts.js' %}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

<script src="{% static 'dashboard/js/charts.js' %}"></script>
{% endblock %}