{% extends 'dashboard/base.html' %}
{% load static %}

{% block heading %}
    Create Booking
{% endblock %}

{% block path %}
    Dashboard / Booking / New
{% endblock %}

{% block body %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">New Booking</h3></div>
                            <div class="card-body">
                                <div style="text-align: center; color: green" id="error"></div>
                                <form enctype="multipart/form-data" id="routes">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="small mb-1" for="source">Source</label>
                                        <input class="form-control py-4" id="source" name="source" type="text" placeholder="Enter source city / state / terminal name / terminal code" required/>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="destination">Destination</label>
                                        <input class="form-control py-4" id="destination" name="destination" type="text" placeholder="Enter destination city / state / terminal name / terminal code" required/>
                                    </div>
                                    <div>
                                        <button id="find_routes" type="submit" class="btn btn-primary form-control">Find all available routes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


<!-- Do not delete the below div -->
<div id="parent">

</div>
</div>
{% endblock %}

{% block directly_in_main %}
<div id="show_entry" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-opacity" style="max-width:600px">
        <header class="w3-container w3-green">
          <span onclick="close_show_entry()" class="w3-button w3-display-topright">&times;</span>
          <h2>Route Details</h2>
        </header>
    
        <div class="w3-container">
            <div class="w3-panel">
                <p id="message" style="color: rgb(255, 182, 24)"></p>
            </div> 
                <div class="w3-section" id="terminals_to_be_added">
                    

                </div>

        </div>

        <footer class="w3-container">
            <p><b>Note</b> : Here we have displayed the complete list of terminals or stops in between the route.</p>
            <p>If what you opted is reversed of what we show you here then please select the reverse route while booking.</p>
        </footer>
    
    
      </div>
</div>


<div id="book_entry" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-opacity" style="max-width:600px">
        <header class="w3-container w3-green">
          <span onclick="close_book_entry()" class="w3-button w3-display-topright">&times;</span>
          <h2>Booking Ticket Corner</h2>
        </header>
    
        <div class="w3-container">
            <div class="w3-panel">
                <p id="message1" style="color: rgb(255, 182, 24)"></p>
            </div> 

            <form class="w3-container" id="submit_form" enctype="multipart/form">
                {% csrf_token %}
                <div class="w3-section">

                    <label><b>Select Source Terminal</b></label>
                    <select class="w3-input w3-border w3-margin-bottom" name="source_stop" id="source_stop" onchange="cal_fare()"   required>
                            
                    </select>

                    <label><b>Select Destination Terminal</b></label>
                    <select class="w3-input w3-border w3-margin-bottom" name="destination_stop" id="destination_stop" onchange="cal_fare()"  required>
                            
                    </select>

                    <label><b>Select a Bus</b></label>
                    <select class="w3-input w3-border w3-margin-bottom" name="bus" id="bus" onchange="cal_fare()" required>
                            
                    </select>

                    <label><b>Seats you want to book</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="number" min="0" placeholder="Enter number of seats" name="seats_booked" id="seats_booked"  onkeyup="cal_fare()" required>

                    <label><b>Total Fare</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="number" min="0" step="0.000001" placeholder="Fare" name="fare" id="fare" readonly>

                    <input type="hidden" name="date_wise_schedule" id="date_wise_schedule">

                    <label><b>Departure Date</b><small id="seats_lefted"></small></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="date" placeholder="Enter departure time" onchange="cal_fare()" name="departure_day" id="departure_day" required>

                    <button class="w3-button w3-block w3-green w3-section w3-padding" id="add_button" type="submit">Book</button>
                </div>
              </form>

                <div class="w3-section" id="terminals_to_be_added1">
                    

                </div>

        </div>

        <footer class="w3-container">
            <p><b>Note</b> : Here we have displayed the complete list of terminals or stops in between the route.</p>
            <p>If what you opted is reversed of what we show you here then please select the reverse route while booking.</p>
            <p>The advanced booking includes the booking upto 30 days from the current day.</p>
        </footer>
    
    
      </div>
</div>


<script type="text/javascript" src="{% static 'dashboard/js/new_booking.js' %}"></script>
{% endblock %}