{% extends 'dashboard/base.html' %}
{% load static %}
{% block heading %}
    Bus Schedules
{% endblock %}

{% block path %}
    Dashboard / Schedule / Bus
{% endblock %}

{% block body %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Schedule Table
        <button onclick="document.getElementById('add_entry').style.display='block'" class="btn btn-sm btn-primary" style="float: right;">Add</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Bus</th>
                        <th>Bus Type</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Distance(Km)</th>
                        <th>Departure Day</th>
                        <th>Departure Time</th>
                        <th>Fare</th>
                        <th>Max Refund %</th>
                        <th>No refund Time(min)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Bus</th>
                        <th>Bus Type</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Distance(Km)</th>
                        <th>Departure Day</th>
                        <th>Departure Time</th>
                        <th>Fare</th>
                        <th>Max Refund %</th>
                        <th>No refund Time(min)</th>
                    </tr>
                </tfoot>
                <tbody>
                        {% for each in data %}
                        <tr>
                            <td>{{each.bus.name}}</td>
                            <td>{{each.bus.details.accomodation_name}}</td>
                            <td>
                                {% if each.reverse_route %}
                                    {{each.schedule.destination.name}}
                                {% else %}
                                    {{each.schedule.source.name}}
                                {% endif %}
                            </td>
                            <td>
                                {% if each.reverse_route %}
                                    {{each.schedule.source.name}}
                                {% else %}
                                    {{each.schedule.destination.name}}
                                {% endif %}
                            </td>
                            <td>{{each.schedule.distance}}</td>
                            <td>{{each.departure_day}}</td>
                            <td>{{each.departure_time}}</td>
                            <td>{{each.fare}}</td>
                            <td>{{each.bus.details.refund_percentage}}</td>
                            <td>{{each.bus.details.no_refund_time}}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}