{% extends 'dashboard/base.html' %}
{% load static %}
{% block heading %}
    Staff Accounts
{% endblock %}

{% block path %}
    Dashboard / Staff / All
{% endblock %}

{% block body %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Accounts Table
        <button onclick="document.getElementById('add_entry').style.display='block'" class="btn btn-sm btn-primary" style="float: right;">Add</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                        {% for each in data %}
                        <tr>
                            <td>{{each.id}}</td>
                            <td>{{each.username}}</td>
                            <td>{{each.email}}</td>
                            <td>{{each.first_name}} {{each.last_name}}</td>
                            <td id={{each.id}}>{% if each.is_active %}Active{% else %}Disabled{% endif %}</td>
                            <td><button class="btn btn-danger" onclick="change_status({{each.id}})">Change Status</button></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block directly_in_main %}
<div id="add_entry" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-opacity" style="max-width:600px">
        <header class="w3-container w3-green">
          <span onclick="document.getElementById('add_entry').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
          <h2>Add a staff member</h2>
        </header>
    
        <div class="w3-container">
            <div class="w3-panel">
                <p id="message" style="color: rgb(255, 182, 24)"></p>
            </div> 
            <form class="w3-container" id="add_form" enctype="multipart/form">
                {% csrf_token %}
                <div class="w3-section">
                    <label><b>Username</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" name="username" id="username" placeholder="Enter staff username" required>
                    
                    <label><b>Email</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Enter staff email" name="email" id="email" required>
                    
                    <label><b>First Name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter first name" name="first_name" id="first_name" required>
                    
                    <label><b>Last Name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter last name" name="last_name" id="last_name" required>
                    
                    <button class="w3-button w3-block w3-green w3-section w3-padding" id="add_button" type="submit">Create Staff</button>
                </div>
              </form>
        </div>

        <footer class="w3-container">
            <p><b>Note</b> : An auto generated password with username would be sent to staff email.</p>
        </footer>
    
    
      </div>
</div>

<script type="text/javascript" src="{% static 'dashboard/js/staff.js' %}"></script>
{% endblock %}